body {
 
  padding: 0;
  
background: #f1f1f1;
}
.contact{
  border-radius:    20px;
  background:#c18b48;
 margin:5px;
  width: 150px;
  height: 40px;
  text-align: center;
}
.aboutus{
  
  
  
}
.aboutus h4{
  border-radius: 20px;
  background:#043636;
 margin:5px;
  width: 150px;
  height: 40px;
  margin: auto;
  
 
}
.service h4{
  border-radius: 20px;
  background:#043636;
 margin:5px;
  width: 180px;
  height: 40px;
  margin: auto;
}
.servia{
  background-color:#043636;
  margin: 5px;
  
 
  height: 170px;
  border-radius: 30px;
  
}
.product h4{
  border-radius: 20px;
  background:#043636;
 margin:5px;
  width: 200px;
  height: 40px;
  margin: auto;
  

}

.ponline h4{
  border-radius: 20px;
  background:#043636;
 margin:5px;
  width: 220px;
  height: 40px;
  margin: auto;

}

.star input{
  display: none;
  
 
}
.feed h4{
    border-radius: 20px;
  background:#043636;
 margin:5px;
  width: 220px;
  height: 40px;
  margin: auto;
}


  